:root {
	--input-height-xs: 1.25rem;
	--input-height-sm: 1.75rem;
	--input-height: 2.25rem;
	--input-height-lg: 2.75rem;
	--input-height-xl: 3.25rem;
	--input-font-size-xs: .625rem;
	--input-font-size-sm: .875rem;
	--input-font-size: 1rem;
	--input-font-size-lg: 1.25rem;
	--input-font-size-xl: 1.5rem;
	--input-font-family: inherit;
	--input-font-weight: inherit;
	--input-color: var(--color-text);
	--input-border-color: var(--component-border-color);
	--input-border-width: 1px;
	--input-border-radius: var(--component-border-radius);
	--input-bg-color: var(--color-white);
	--input-box-shadow: var(--component-box-shadow-inner);
	--input-readonly-bg-color: var(--component-bg-color);
	--input-focus-color: rgba(255,182,9, .65);
	--input-speed: var(--component-speed);

	--input-addon-bg-color: var(--component-bg-color);
	--input-addon-color: var(--color-muted);

	--input-icon-width: 2em;
	--input-icon-offset: .5em;
	--input-icon-color: var(--state-secondary);

	--input-range-track-height: .5rem;
	--input-range-track-color: var(--component-bg-color);
	--input-range-track-box-shadow: var(--component-box-shadow-inner);
	--input-range-thumb-height: 1.25rem;
	--input-range-thumb-color: var(--state-primary);

	--input-invalid-color: var(--state-danger);
	--input-invalid-border-color: var(--state-danger);
	--input-valid-color: var(--state-success);
	--input-valid-border-color: var(--state-success);

	--select-background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='16' viewBox='0 0 30 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 16L0 0h30z' fill-rule='evenodd'/%3E%3C/svg%3E");

	--fieldset-border-color: var(--component-border-color);
	--fieldset-border-width: var(--component-border-width);
	--fieldset-border-radius: var(--border-radius);
	--fieldset-padding-x: 2rem;
	--fieldset-padding-y: 1.5rem;

	--label-color: inherit;

	--placeholder-color: var(--color-muted);
	--shake-distance: 6px;
}

/*  Forms initial styles */
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
button, input[type="submit"] {
	cursor: pointer;
}
legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
fieldset legend {
	font-weight: 500;
	padding: 0 10px;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
label + label {
	margin-left: 5px;
}
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-ms-appearance: textfield;
	appearance: none;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/*  Forms base styles */

input,
select,
textarea {
	display: inline-block;
	margin: 0;
	font-family: var(--input-font-family);
	font-size: var(--input-font-size);
	font-weight: var(--input-font-weight);
	color: var(--input-color);
	vertical-align: middle;
	box-shadow:	none;
	transition: all .3s ease-out;
	white-space: nowrap;
	&:focus {
		outline: none;
		&:not([readonly]) {
			border-color: var(--input-focus-color);
		}
	}

	&[disabled] {
		opacity: .5;
		cursor: not-allowed;
	}

	&[readonly] {
		background-color: var(--input-readonly-bg-color);
	}

	&[type="color"] {
		padding: .5rem;

		&::-webkit-color-swatch-wrapper {
			padding: 0;
		}

		&::-webkit-color-swatch {
			border: none;
			border-radius: var(--input-border-radius);
		}
	}
}
input, textarea {
	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}
select {
	position: relative;
	height: var(--input-height);
	line-height: var(--input-height);
	background-color: var(--input-bg-color);
	background-image: var(--select-background-image);
	background-position: right .4rem center;
	background-repeat: no-repeat;
	background-size: .75rem;
	border: var(--input-border-width) solid var(--input-border-color);
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 1.5rem;
	padding-left: .5rem;
	border-radius: var(--input-border-radius);
	-moz-appearance: none;
	-webkit-appearance: none;
	&[multiple] {
		height: auto;
		padding-right: 0;
	}
}
select:required:invalid {
	color: var(--placeholder-color);
}
option[value=""][disabled] {
	display: none;
}
option {
	color: var(--color-text);
}
option[selected] {
	background-color: rgba(255,182,9, .56);
}
textarea {
	height: auto;
	vertical-align: top;
	resize: vertical;
	line-height: var(--line-height);
	white-space: normal;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: 1px;
}

/* delete arrow input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	font-weight: normal;
}
/* hide cross in search input ie */
input[type=search]::-ms-clear {
	size: 0;
}
.field {
	&.has-addons {
		display: flex;
		justify-content: flex-start;
		.control {
			&:not(:last-child) {
				margin-right: -1px;
			}
			&:first-child {
				.button,
				.input,
				.select select {
					border-bottom-left-radius: var(--input-border-radius);
					border-top-left-radius: var(--input-border-radius)
				}
			}
			&:last-child {
				.button,
				.input,
				.select select {
					border-bottom-right-radius: var(--input-border-radius);
					border-top-right-radius: var(--input-border-radius);
				}
			}
			.button,
			.input,
			.select select {
				border-radius: 0;
				&:hover,
				&.is-hovered {
					z-index: 2;
				}
				&:focus,
				&.is-focused,
				&:active,
				&.is-active {
					z-index: 3;
					&:hover {
						z-index: 4;
					}
				}
			}
			&.is-expanded {
				flex-grow: 1;
			}
		}
		&.has-addons-centered {
			justify-content: center
		}
		&.has-addons-right {
			justify-content: flex-end
		}
		&.has-addons-fullwidth {
			.control {
				flex-grow: 1;
				flex-shrink: 0
			}
		}
	}
}
.fieldset {
	border: solid var(--fieldset-border-width) var(--fieldset-border-color);
	border-radius: var(--fieldset-border-radius);
	padding: var(--fieldset-padding-y) var(--fieldset-padding-x);
	margin-bottom: 1.5rem;

	& legend {
		font-weight: var(--font-weight-bold);
		padding: 0 .25rem;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}


.label {
	color: var(--label-color);
	display: inline-block;
	margin-bottom: .25rem;

	& + label {
		margin-left: 1rem;
	}
}

.form {
	&__row {
		position: relative;
		margin-bottom: 28px;
		&:last-child, &:last-of-type {
			margin-bottom: 0;
		}
		&_file {
			.label {
				display: block;
			}
		}
		&_inline {
			display: inline-block;
		}
		.text-info {
			font-size: var(--font-size-small);
		}
		&_center {
			align-self: center;
		}
	}
	&__footer {
		position: relative;
		text-align: center;
		padding: 2rem 0;
	}
	&__input {
		position: relative;
		.ui-input {
			padding-right: 30px;
		}
	}
	&__section {
		padding: 2rem 0;
		border-bottom: 1px solid var(--color-silver);
		h2, h3 {
			margin-top: 0;
		}
		&_inform {
			padding: 0 0 1rem;
			border-top: 3px solid var(--state-secondary);
			.title {
				margin: 0 0 1rem;
				padding: 5px 0;
				text-align: center;
				background-color: var(--state-secondary);
			}
		}
	}
	&_horizontal {
		input,
		select,
		textarea {
			display: block;
			width: 100%;
		}
	}
}
.form_offers {
	.field {
		&.has-addons {
			.control:first-child  {
				flex-grow: 1;
				flex-shrink: 0
			}
		}
	}
}
/* Validation */
.is-invalid {
	&, ~ .flatpickr-input, .multiselect__tags {
		border-color: var(--input-invalid-border-color) !important;
	}
	&, ~ .is-error {
		color: var(--input-invalid-color) !important;
	}
	~ .is-error {
		display: block;
	}
	.multiselect__content {
		color: var(--color-text) !important;
	}
}

.is-valid {
	&, ~ .flatpickr-input, .multiselect__tags {
		border-color: var(--input-valid-border-color) !important;
	}
	&, ~ .flatpickr-input {
		color: var(--input-valid-color) !important;
	}
	~ .is-error {
		display: none;
	}
	.multiselect__content {
		color: var(--color-text) !important;
	}
}
.is-warning {
	& {
		border-color: var(--state-secondary) !important;
		color: var(--state-secondary) !important;
	}
	~ .text-warning {
		display: block;
	}
}
.is-error {
	text-align: left !important;
	font-size: var(--font-size-small);
}
.is-error {
	display: none;
}
@keyframes shakeError {
	0% {
		transform: translateX(0) }

	15% {
		transform: translateX(var(--shake-distance)) }

	30% {
		transform: translateX(var(--shake-distance)) }

	45% {
		transform: translateX(var(--shake-distance)) }

	60% {
		transform: translateX(var(--shake-distance)) }

	75% {
		transform: translateX(var(--shake-distance)) }

	90% {
		transform: translateX(var(--shake-distance)) }

	100% {
		transform: translateX(0) }
}
